$colorHeader: rgb(36, 41, 46);
$colorHeaderInput: rgb(63, 68, 72);
$colorBackground: #2b3137;
$colorBtnMainPage: rgb(10, 94, 30);
$colorAlert: #e6a5ae;
$colorAlertText: #c12035;
$colorNameUser: #f3f8f5;
$colorBtnHover: rgb(170, 170, 170);
$colorBackgroundLogin: #f8fbf8;
$colorBtnAddUser: rgb(95, 96, 97);
