.login {
  background-color: $colorBackgroundLogin;
  padding-top: 9rem;
  .login-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .login-logo {
      font-size: 3rem;
      color: $colorBlack;
    }
    .login-small {
      margin: 2rem 0 1rem 0;
      font-size: 1.5rem;
      color: $colorHeaderInput;
    }
    .login-alert-box {
      width: 20%;
      @include mobile {
        width: 60%;
      }
      .login-alert {
        background-color: $colorAlert;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.3rem;
        text-align: center;
        color: $colorAlertText;
      }
    }
    .login-box {
      background-color: $colorWhite;
      padding: 1.5rem;
      width: 20%;
      border: 1px solid $colorLightGray;
      border-radius: 0.4rem;
      @include mobile {
        width: 70%;
      }
      .login-form {
        display: flex;
        flex-direction: column;
        label {
          font-size: 0.9rem;
          font-weight: 600;
          margin-bottom: 0.6rem;
        }
        input {
          margin-bottom: 1.2rem;
          font-size: 1rem;
          height: 2rem;
          border-radius: 0.2rem;
          border: 1px solid $colorLightGray;
          &:focus {
            border: 3px solid $colorLightBlue;
          }
        }
        .login-btn {
          display: block;
          background-color: $colorBtnMainPage;
          color: $colorWhite;
          padding: 0.7rem;
          border: 1px solid $colorBtnAddUser;
          border-radius: 0.2rem;
          cursor: pointer;
          &:hover {
            transition: color 0.2s ease;
            color: $colorBtnHover;
          }
        }
      }
    }
    .login-create-account {
      padding: 1rem 0;
      margin: 2rem 0 3rem 0;
      border: 1px solid $colorLightGray;
      border-radius: 0.4rem;
      width: 20%;
      display: flex;
      justify-content: center;
      @include mobile {
        width: 70%;
      }
      p {
        text-align: center;
        margin-right: 0.5rem;
      }
      a {
        color: $colorBtnblue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
